<footer class="footer">
  <nav>
    <ul>
      <li><a href="https://www.cyberagent.co.jp/">CA</a></li>
      <li><a href="https://www.cyberagent.co.jp/contact/">Contact</a></li>
      <li><a href="https://www.cyberagent.co.jp/news/">News</a></li>
    </ul>
  </nav>
</footer>